:root {
    --primary-font: "Roboto", sans-serif;
    --primary-bg: rgb(18 12 28);
    --secondary-bg: rgb(35 27 46);
    --primary-btn: #7200a1;
    --white: white;
    --border-player: hsla(0, 0%, 100%, 0.1);
    --text-hover: #c662ef;
    --sidebar-width: 240px;
    --side-padding: 10px;
    --header-height: 70px;
}

body ::-webkit-scrollbar {
    width: 6px;
    height: 2px;
}

body ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(248, 248, 248, 0.5);
}

body ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset #fff;
    border-radius: 4px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: var(--primary-font);
    overflow: hidden;
}

body {
    color: var(--white);
    background-color: var(--primary-bg);
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 400;
    text-transform: capitalize;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: var(--white);
}

ul {
    list-style: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
}

.left {
    min-height: calc(100vh - 90px);
    width: var(--sidebar-width);
}

.player {
    width: 100%;
    height: 90px;
    position: fixed;
    border-top: 1px solid var(--border-player);
    bottom: 0;
    left: 0;
    background-color: var(--primary-bg);
}



/* Side Bar */
.side-bar {
    height: 100%;
    background-color: var(--secondary-bg);
}

.nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

.logo {
    width: 140px;
    height: 40px;
    margin-left: 36px;
    background: url(./images/logo-dark.svg) no-repeat;
    background-size: cover;
}

.logo>img {
    width: 120px;
}

.icon {
    font-size: 1.6rem;
    padding: 0px 10px;
}

.lib {
    padding: 1rem 0rem;
    border-bottom: 1px solid var(--border-player);
}

.item {
    display: flex;
    padding: 10px 25px;
    padding-left: var(--side-padding);
    font-weight: bold;
}

.item:hover {
    cursor: pointer;
    background-color: hsla(0, 0%, 100%, 0.1);
}

.item>a:hover {
    color: var(--text-hover);
}

.sidebar-bottom {
    overflow-y: scroll;
    height: 278px;
}

.scrollbar {
    padding: 1rem 0;
    font-weight: bold;
}

.title {
    padding: 10px 32px;
    font-size: 1.6rem;
    font-weight: bold;
}

.my-music-list {
    width: 100%;
    display: flex;
    align-items: center;
}


/* Header */
.disable {
    color: gray;
    cursor: not-allowed;
}

.right {
    width: calc(100vw - 240px);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--header-height);
    gap: 5%;
    background-color: var(--primary-bg);
    width: calc(100vw - 240px);
    position: fixed;
    top: 0px;
    right: 0px;
}

.header-search {
    display: flex;
    align-items: center;
    width: 65%;
    margin-left: 10%;
}

.back,
.forward,
.look {
    font-size: 2rem;
    padding: 0px 10px;
}

.search {
    width: 90%;
    display: flex;
    align-items: center;
    background-color: var(--border-player);
    padding: 10px 10px;
    border-radius: 999px;
    position: relative;
}

.input-search {
    width: 95%;
    outline: none;
    border: none;
    color: var(--white);
    font-size: 1.6rem;
    background-color: transparent;
}

.header-actions {
    display: flex;
    width: 35%;
}

.avatar {
    background-image: url("https://photo-zmp3.zmdcdn.me/banner/3/e/d/5/3ed5b4a264123899322f1dbf876d5103.jpg");
    background-size: cover;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--border-player);
    margin: 0px 1rem;
    width: 42px;
    height: 42px;
}


/* search -sub */
.header-search-sub {
    position: absolute;
    top: calc(var(--header-height) - 27px);
    width: 100%;
    left: 0px;
    background-color: var(--primary-btn);
    border-radius: 0px 0px 3rem 3rem;
}

.header-search-sub>span {
    display: block;
    padding: 1rem 2rem;
    font-weight: 700;
}

.header-search-sub-list>li {
    padding: 10px;
}

.header-search-sub-list>li:last-child {
    border-radius: 0 0 3rem 3rem;
}

.header-search-sub-list>li>a {
    padding: 0px 25px;
}

.header-search-sub-list>li:hover {
    background-color: var(--border-player);
}


/* Main */
.main {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 70px;
    height: calc(100vh - 70px - 90px);
    padding: 0px 7%;
}


/* START personal */
/* profile */
.profile {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
}

.profile-name {
    padding: 10px 5px;
    font-size: 2rem;
}

.profile>img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-vip {
    position: absolute;
    top: 2rem;
    right: 0px;
    display: flex;
    gap: 2rem;
}

.profile-vip>span {
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 999px;
    cursor: pointer;
}

.profile-vip>span:nth-child(1) {
    background-color: yellow;
    color: black;
}

.profile-vip>span:nth-child(2) {
    background-color: rgba(255, 255, 255, 0.1);
}


/* navbar */
.personal-navbar {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    text-transform: uppercase;
    font-weight: 700;
}

.personal-navbar-list {
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 999px;
    padding: 5px 2rem;
}

.personal-navbar-list li {
    padding: 10px;
}

.personal-active {
    background-color: var(--white);
    border-radius: 999px;
    color: black;
}

.playlist-more {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.playlist-option-upload,
.playlist-option-playall {
    padding: 5px 20px;
    border-radius: 999px;
    border: 0;
    outline: none;
    text-transform: uppercase;
}

.playlist-option-playall {
    background-color: var(--primary-btn);
    color: white;
}

.playlist-option-upload i,
.playlist-option-playall i {
    font-size: 1.6rem;
    padding: 0px 5px;
}


/* List music */
.music {
    width: 100%;
    padding: 10px 0px;
}

.music-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    margin: 5px 0px;
    background-color: #c662ef;
    border-radius: 10px;
}

.music-list-item:hover {
    background-color: var(--border-player);
}

.music-song-left {
    display: flex;
    width: 60%;
    gap: 20px;
    padding: 5px 10px;
}

.music-song-center {
    width: 25%;
}

.music-song-right {
    display: flex;
    width: 15%;
}

.music-song-left-img {
    background-size: contain;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

/* END personal */




/* ===START discover========= */
/* carousel */
.carousel {
    padding: 4rem 0;
}

.carousel-album {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 20px;
}

.carousel-item img {
    border-radius: 5px;
}

/* recently */
.recently {
    padding: 2rem 0px;
}

.recently-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.6rem;
}

.recently-title>h3 {
    font-size: 2rem;
    font-weight: bold;
}

.recently-title>a {
    font-size: 1.4rem;
    color: gray;
    text-transform: uppercase;
}

.recently-album {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.recently-item {
    width: 85%;
}

.recently-item img {
    border-radius: 3px;
}

.recently-item-title {
    padding: 1rem 0;
}

/* listen */
.listen-title>h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.8rem;
}

.listen-album {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    column-gap: 2rem;
}

.listen-item img {
    border-radius: 5px;
}

.listen-item-title {
    padding-top: 1rem;
}

.listen-item-author {
    color: gray;
}

/* ===END discover========= */

/* player */

.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-icon {
    font-size: 3rem;
    padding: 0px 10px;
}

.pause-icon {
    display: none;
}

.wrapper.playing .play-icon {
    display: none;
}

.wrapper.playing .pause-icon {
    display: inline-block;
}

.player-left {
    width: 25%;
    display: flex;
    align-items: center;
}

.player-img {
    width: 20%;
    border-radius: 5px;
    margin-left: 3rem;
}

.media {
    padding: 0px 1rem;
}

.media-name {
    font-weight: 600;
}

.media-author {
    color: gray;
}

.media-icon {
    font-size: 1.6rem;
    padding: 0 1rem;
}

.player-control {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-control-top {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.icon-control {
    font-size: 1.6rem;
    padding: 0 1rem;
}

.player-control-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.time-start {
    color: gray;
    font-weight: bold;
}

.process-bar {
    margin: 0 1rem;
    width: 70%;
    -webkit-appearance: none;
    height: 6px;
    background-color: var(--border-player);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 999px;
    cursor: pointer;
}

.process-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 6px;
    background-color: var(--white);
    cursor: pointer;
    border-radius: 999px;
}

.time-end {
    font-weight: bold;
}

.player-right {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-right>span {
    height: 40px;
    width: 1px;
    background-color: var(--border-player);
    margin: 0 1.5rem;
}

.mute-icon {
    font-size: 1.6rem;
    padding: 0 1rem;
}








/* active item choose */
.sidebar-active-item {
    border-left: 3px solid var(--primary-btn);
    padding-left: calc(var(--side-padding) - 3px);
}

/* Hidden */
.hide {
    display: none;
}

/* active */
.active {
    display: block;
}